<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<title>{% block titulo %}{% endblock %}</title>

{% load static %}
<link href="{% static 'inicio/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'inicio/css/londinium-theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'inicio/css/styles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'inicio/css/icons.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

<style>
/* Optimización de imágenes responsivas */
picture { display: contents; }
picture img,
img.img-media,
img.img-responsive {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* Avatar usuario en sidebar */
.user-menu img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 4px;
}

/* Imágenes en tabla */
.table-bordered .text-center img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Lazy loading */
img[loading="lazy"] {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

img[loading="lazy"][src] {
    animation: none;
    background: none;
}
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

</head>

<body>

	

 	<div class="page-container">


		<!-- Navegación lateral -->
		<div class="sidebar">
			<!-- Avatar del usuario -->
			<div class="user-menu dropdown">
				<a href="#">
					<!-- Avatar optimizado: 48x48px -->
					<picture>
						<img src="{%block imagen%}{%endblock%}" 
							 alt="Avatar del usuario" 
							 title="Perfil del usuario"
							 width="48" 
							 height="48"
							 loading="lazy">
					</picture>
					<div class="user-info">
						{%block span%}{%endblock%}
					</div>
				</a>
			</div>
			<!-- Avatar del usuario -->


			<div class="sidebar-content">
				<!-- Enlaces de navegación -->
				<ul class="navigation">
							<li><a href="{% url 'Principal' %}">Home</a></li>
							<li><a href="{% url 'Formulario' %}">Registrar</a></li>	
                            <li><a href="{% url 'Contacto' %}">Contactanos</a></li>
							<li><a href="{% url 'Comentarios' %}">Comentarios</a></li>
				</ul>
				<!-- Fin de enlaces de navegación -->
			</div>
		</div>
		<!-- Fin de la barra lateral -->
         


		
	</div>
	<!-- Área principal -->
	 	<div class="page-content">
	{% block encavezado%}{%endblock%}

	
	<div class="breadcrumb-line">
		<ul class="breadcrumb">
		<a href="{%url 'Principal'%}">
			{%if request.path == '/'%}
				Principal
			{%else%}
				Principal{{request.path}}
			{%endif%}		
		</a>
		</ul>
	</div>
    
    
	
	<!-- Sección de contenido -->
    {% block contenido %}
    {% endblock %}

	</div>
		<!-- Fin del área principal -->

	<!-- SCRIPTS MOVIDOS AL FINAL PARA MEJORAR PAGESPEED -->
	<!-- Plugins de gráficos y formularios -->
	<script type="text/javascript" src="{% static 'inicio/js/plugins/charts/sparkline.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/uniform.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/select2.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/inputmask.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/autosize.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/inputlimit.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/listbox.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/multiselect.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/validate.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/tags.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/switch.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/uploader/plupload.full.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/uploader/plupload.queue.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/wysihtml5/wysihtml5.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/forms/wysihtml5/toolbar.js' %}" defer></script>

	<!-- Plugins de interfaz -->
	<script type="text/javascript" src="{% static 'inicio/js/plugins/interface/daterangepicker.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/interface/fancybox.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/interface/moment.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/interface/jgrowl.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/interface/datatables.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/interface/colorpicker.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/interface/fullcalendar.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/plugins/interface/timepicker.min.js' %}" defer></script>

	<!-- Bootstrap y scripts principales -->
	<script type="text/javascript" src="{% static 'inicio/js/bootstrap.min.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'inicio/js/application.js' %}" defer></script>
</body>
</html>