{% extends "inicio/encabezado.html" %}

{% block titulo %}Formulario{% endblock %}

{% block imagen%}
	{%load static%}
	{%static 'inicio/images/registrar.png'%}
{% endblock%}

{%block span%}Formulario <span>DSM</span>{%endblock%}




		

			{% block encavezado%}
			<!-- Encabezado de la página -->
			<div class="page-header">
				<div class="page-title">
					<h3>Registro
				    <small>Ingresa tu información</small></h3>
				</div>

				
				
			</div>
			<!-- Fin del encabezado -->
			 {%endblock%}

			 {% block navegacion %}
			 <!-- Barra de navegación -->
	
		<!-- Fin de la barra de navegación -->
			 {%endblock%}

{% block contenido %}

			<!-- Formulario de registro -->
			<form class="form-horizontal" action="#" role="form" aria-label="Formulario de registro de alumnos">
	            <div class="panel panel-default">
	                <div class="panel-body">

				        <div class="form-group">
				            <label class="col-sm-2 control-label text-right" for="matricula">Matricula:</label>
				            <div class="col-sm-10">
				            	<input id="matricula" type="text" class="form-control" required aria-required="true" aria-label="Número de matrícula">
				            </div>
				        </div>
				        
				        <div class="form-group">
				            <label class="col-sm-2 control-label text-right" for="nombre">Nombre:</label>
				            <div class="col-sm-10">
				            	<input id="nombre" type="text" class="form-control" required aria-required="true" aria-label="Tu nombre completo">
				            </div>
				        </div>
						<div class="form-group">
				            <label class="col-sm-2 control-label text-right" for="carrera">Carrera:</label>
				            <div class="col-sm-10">
				            	<select id="carrera" data-placeholder="Elige una carrera..." class="select" tabindex="2" required aria-required="true" aria-label="Selecciona tu carrera">
	                                <option value=""></option> 
	                                <option value="TIC">TIC</option> 
	                                <option value="BIO">BIO</option> 
	                                <option value="MAI">MAI</option> 
	                        </select>
				            </div>
				        </div>
						<div class="form-group">
				            <label class="col-sm-2 control-label text-right">Turno:</label>
				            <div class="col-sm-10">
				            	<label><input type="radio" name="turno" class="styled" value="Matutino" checked="checked" aria-label="Turno matutino"> Matutino</label>
										<label><input type="radio" name="turno" class="styled" value="Vespertino" aria-label="Turno vespertino"> Vespertino</label>
                        <div class="form-actions text-right">
                        	<button type="submit" class="btn btn-primary" aria-label="Enviar registro">Enviar</button>
                        </div>

				    </div>
				</div>
			</form>
		<!-- Fin del formulario -->
		

{% endblock %}